<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fifi's Coffee Shop</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <div class="container-lg">
        <section>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 my-4 mx-2 card">
                    <div class="card-header mb-3">  
                        <h5>Waiters schedule!</h5>
                    </div>

                    <div class="card-body">

                        {{#if messages.info}}
                            <div class="entry">
                                <h4 class="text-success text-center"> {{messages.info}}</h4>
                            </div>
                        {{/if}}

                        <table class="table">
                            <thead>
                                <tr>
                                    {{#each addClasslist}}
                                        <th scope="col" class="{{color}}" value="{{id}}">{{days}}</th>
                                    {{/each}}

                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td>
                                        {{#each Sunday}}
                                            {{this}} <br> 
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Monday}}
                                            {{this}} <br> 
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Tuesday}}
                                            {{this}} <br> 
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Wednesday}}
                                            {{this}} <br> 
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Thursday}}
                                            {{this}} <br> 
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Friday}}
                                            {{this}} <br> 
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each Saturday}}
                                            {{this}} <br> 
                                        {{/each}}
                                    </td>
                                </tr>
    
                            </tbody>
                        </table>

                        <div class="adminBtn my-3 mx-1">
                            <a class="btn myBtn m-1" href="/">Home</a>

                            <form action="/reset" method="GET">
                                <button class="btn myBtn m-1" type="submit" name="button">Reset</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </section>

    </div>

    <script src="/js/waiters_webapp.js"></script>
</body>
</html>